{% load static%}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Django</title>
    <link rel="stylesheet" href="{% static 'Portal/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Portal/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700i">
    <link rel="stylesheet" href="{% static 'Portal/assets/css/styles.css' %}">

</head>

<body>

    {% if messages %}
        {% for message in messages%}
        <div class="alert alert-{{ message.tags }}" style="margin:auto;" >
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
              
    <section class="border-warning d-xl-flex" style="background-image: url('./static/Portal/assets/img/home.jpg');background-position: top;background-size: cover;background-repeat: no-repeat;height: 100vh;width: 100%;">
        <div class="border-dark shadow" style="width: 20%; border-radius:10px; height: 55%;margin-top: 250px;margin-left: 900px;padding: 19px;opacity: 1;filter: grayscale(0%) sepia(0%);">
            <p class="bottom" style="font-size: 50px;font-family: Lato, sans-serif;font-weight: bold;width: 260px;color: rgb(130,71,211);margin-bottom: 6px;margin-top: -15px;">Upload</p>

            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
        
                <fieldset class="form-group" style="width: 300px;margin: auto;">
                    {{ form|crispy }}
                </fieldset>
            
            <button class="border rounded" style="width: 260px;height: 40px;background-color: #8247d3;margin-top: 14px;color: white;"  type= "submit"><i class="fa fa-download" style="margin-left: 13px;color: rgb(255,255,255);width: 21px;font-size: 25px;"></i>&nbsp;Generate Report</button>

            

            </form>
            <p class="bottom" style="font-size: 30px;font-family: Lato, sans-serif;font-weight: bold;width: 260px;color: rgb(67,37,195);margin-top: 10px;">Format of CSV file :</p>
                <div class="border rounded" style="width: 260px;height: 125px;margin-top: 15px;background-color: #4525c2;">
                    <p style="margin-bottom: 1px;font-size: 24px;color: rgb(255,255,255);font-family: ABeeZee, sans-serif;font-weight: normal;font-style: normal;margin-left: 10px;padding-top: 7px;">E001,p,p,a,a,p,a....<br>E002,p,a,a,p,p,p....<br>E003,a,p,a,p,p,a....<br></p>
                </div>
        </div>
    </section>

    


</body>

</html>